<header class="header">
  <div class="navbar glass">
    <!-- <div class="navbar-wrapper-menu"></div> -->
    <div class="navbar-start">
      <div class="nav-dropdown glass relative">
        <div
          tabindex="0"
          role="button"
          class="btn btn-ghost btn-circle accent-hover"
        >
          <label class="swap swap-rotate">
            <input type="checkbox" (change)="onToggleChange($event)" />

            <!-- hamburger icon -->
            <svg
              class="swap-off fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 512 512"
            >
              <path
                d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
              />
            </svg>

            <!-- close icon -->
            <svg
              class="swap-on fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 512 512"
            >
              <polygon
                points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
              />
            </svg>
          </label>
        </div>
        <ul tabindex="0" class="nav-menu flex gap-4 bg-accent">
          <li>
            <a
              class="btn btn-ghost accent-hover"
              routerLinkActive="router-link-active"
              [routerLink]="['/']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li>
            <a
              class="btn btn-ghost accent-hover"
              routerLinkActive="router-link-active"
              [routerLink]="['/about']"
              [routerLinkActiveOptions]="{ exact: true }"
              >About</a
            >
          </li>
          <li>
            <a
              class="btn btn-ghost accent-hover"
              [routerLink]="['/contacts']"
              routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Contacts</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a
        class="logo-link btn-neutral btn-circle cursor-pointer"
        [routerLink]="['/']"
      >
        <img class="logo" src="https://i.ibb.co/5X5Jxv13/quiz2.png" alt="" />
      </a>
    </div>
    <div class="navbar-end">
      <a class="btn btn-ghost btn-circle accent-hover" [routerLink]="['/']">
        <div class="indicator">
          <img
            src="https://icongr.am/feather/play.svg?size=36&color=dbdbdb"
            alt=""
            class="ml-2"
          />
        </div>
      </a>
    </div>
  </div>
</header>
