<section class="contatcts h-space">
  <div class="container">
    <div
      class="contacts-wrapper flex flex-col-reverse justify-center items-center"
    >
      <h1 class="text-3xl">Contacts in progress...</h1>
      <span class="loading loading-ring text-accent loading-lg"> </span>
    </div>
  </div>
</section>
<section class="contacts h-space">
  <div class="container">
    <div class="contacts-wrapper flex flex-col justify-center items-center">
      <h1 class="text-3xl">Upload Quizzes to Firestore</h1>
      <button (click)="uploadQuizzes()" class="btn btn-primary mt-5">
        Upload Quizzes
      </button>
    </div>
  </div>
</section>
